.attribute{
    display: flex;
    margin-bottom: 15px;
}

.attribute h1{
    width: 500px;
    font-size: 24px;
    color: darkorange;
}

.launch-view{
    max-width: 1000px;
    margin: auto;
    margin-top: 20px;
}
.launch-view .description{
    color: darkslategray;
}
.launch-view img{
    width: 100%;
    height: 400px;
}